.section {
    background-color: lemonchiffon;
}

.headers {
    color: darkblue;
}

#Email {
    background-color: goldenrod;
}

#Github {
    background-color: lightsteelblue;
}

#Portfolio {
    background-color: darkorange;
}